body
{
	font-size: 100%;
	font-family: "Microsoft YaHei";
}

.sec
{
	background-color: #e4e6e4;
	-webkit-border-radius:1em;
	border-radius: 1em;
	margin:1em;
	padding:1em;
	overflow: hidden;
}

.sec_title
{
	margin:1em 0 ;
}

.round_img
{
	-webkit-border-radius:50%;
	border-radius: 50%;	
}

.coach
{
	text-align: center;
}

/*当外框div样式不起作用时，每个成员div框加上margin-left:15%，就可以分散居中；*/
/*当外框div样式启用时，需要在margin:auto;外再加上宽度；*/

.member
{
	width: 60%;
	margin: auto;
	border: 1px solid #F00;
	

}

.member1
{
	float: left;	

	text-align: center;
}

.member2
{
	float: left;	

	text-align: center;
}

.member3
{
	float: left;

	text-align: center;
}
