body
{
	font-size: 100%;
	font-family: "Microsoft YaHei";
}

.sec
{
	background-color: #e4e6e4;
	-webkit-border-radius:1em;
	border-radius: 1em;
	margin:1em;
	padding:1em;
	overflow: hidden;
}

.sec_title
{
	margin:1em 0 ;
}

.round_img
{
	-webkit-border-radius:50%;
	border-radius: 50%;	
}

.coach
{
	text-align: center;
}

.mmber
{
	width: 50%;
	margin: auto;

}

.member1
{
	float: left;	
	margin-left:15%;
	text-align: center;
}

.member2
{
	float: left;	
	margin-left: 15%;
	text-align: center;
}

.member3
{
	float: left;
	margin-left: 15%;
	text-align: center;
}
