body
{
	font-family: "Microsoft Yahei";
}

a
{
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	background-color: #538;
}

.menu
{
	font-weight: bold;
	margin-top: 0.5em;
	font-size: 1em;
}

.menu ul
{
	list-style: none;
	margin: auto 4em ; /* 因为这里的字体为2em，所以原本需要8em的左边距变成了4em。*/
	padding: 0;
}

.left
{

	background-color: #f3f;	
	float: left;
	padding: 0 0.5em;	
	-webkit-border-radius:50%;
	border-radius: 20% 0 0 0;		
}

.middle
{
	background-color: #d2f;		
	float: left;
	padding: 0 0.5em;

}

.right
{
	background-color: #c45;		
	float: left;
	padding: 0 0.5em;	
	-webkit-border-radius:50%;
	border-radius: 0 0 20% 0 ;			
}

.child
{
	display: none;
}
